@media (max-width: 768px) {
  .header {
    margin-bottom: 20px;
    width: calc(100% - 90px);
    position: fixed;
  }

  .category-list {
    display: none;
  }

  .sort-container select {
    flex-direction: column;
    width: 10%;
  }

  .product-card {
    width: calc(50% - 20px);
  }
}
